################################################################################
#         ____  ___________               __          __                       #
#        / __ \/ __/ __/ (_)___  ___     / /   ____ _/ /_                      #
#       / / / / /_/ /_/ / / __ \/ _ \   / /   / __ `/ __ \                     #
#      / /_/ / __/ __/ / / / / /  __/  / /___/ /_/ / /_/ /                     #
#      \____/_/ /_/ /_/_/_/ /_/\___/  /_____/\__,_/_.___/                      #
#                                                                              #
#      Copyright (C) 2025-2026 Offline Lab                                     #
#      Contact: info@offline-lab.com                                           #
#      SPDX-License-Identifier: AGPL-3.0-only                                  #
################################################################################

#
# Offline Lab OS build-time overrides
#
# Copy to .config and edit. This file is merged on top of the defconfig.
#

# SSH authorized keys for admin and testuser (offlinelab-testing package)
# Get your public key: cat ~/.ssh/id_ed25519.pub
BR2_PACKAGE_OFFLINELAB_TESTING_ADMIN_PUBKEY="ssh-ed25519 AAAA... you@host"
BR2_PACKAGE_OFFLINELAB_TESTING_TESTUSER_PUBKEY="ssh-ed25519 AAAA... builder@host"

# WiFi credentials baked into bootconf.yaml (offlinelab-testing package)
# password_hash is from: wpa_passphrase "<ssid>" "<password>" | grep -v '#' | grep psk= | cut -d= -f2
# Remove this block if you don't need WiFi baked in at build time.
BR2_PACKAGE_OFFLINELAB_TESTING_WIFI_SSID="your-ssid"
BR2_PACKAGE_OFFLINELAB_TESTING_WIFI_PASSWORD_HASH="<psk hash from wpa_passphrase>"
BR2_PACKAGE_OFFLINELAB_TESTING_WIFI_COUNTRY="NL"
