[Unit]
Description=WiFi setup via wpa_supplicant
After=provision-wifi.service
BindsTo=sys-subsystem-net-devices-wlan0.device
After=sys-subsystem-net-devices-wlan0.device
Before=network.target
ConditionPathExists=/data/config/wifi/wpa_supplicant.conf

[Service]
Type=simple
ExecStart=/usr/local/bin/wifi-setup.sh
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
