[Unit]
Description=Offline Lab Firewall
DefaultDependencies=no
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/firewall-init

[Install]
WantedBy=multi-user.target
