[Unit]
Description=Apply hostname from /data
After=data.mount firstboot.service
Before=network.target ssh.service
Requires=data.mount

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'hostname "$(cat /data/etc/hostname)"'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
