# Serial UARTs
CONFIG_SERIAL_8250_RUNTIME_UARTS=5

# OverlayFS
CONFIG_OVERLAY_FS=y
CONFIG_OVERLAY_FS_REDIRECT_DIR=y
CONFIG_OVERLAY_FS_INDEX=y

# Initramfs
CONFIG_BLK_DEV_INITRD=y
CONFIG_RD_GZIP=y

# USB OTG (dwc2: host mode for keyboards, gadget mode for ACM+ECM)
CONFIG_USB_DWC2=y
CONFIG_USB_DWC2_DUAL_ROLE=y
CONFIG_USB_GADGET=y
CONFIG_USB_HID=y
CONFIG_HID_GENERIC=y
CONFIG_USB_CONFIGFS=y
CONFIG_USB_LIBCOMPOSITE=y
CONFIG_USB_CONFIGFS_ACM=y
CONFIG_USB_CONFIGFS_ECM=y
CONFIG_USB_CONFIGFS_SERIAL=y
CONFIG_USB_F_ACM=y
CONFIG_USB_F_ECM=y
CONFIG_USB_F_SERIAL=y
CONFIG_USB_U_SERIAL=y
CONFIG_USB_U_ETHER=y
CONFIG_CONFIGFS_FS=y

# zram compressed swap
CONFIG_ZRAM=m
CONFIG_CRYPTO_LZ4=y
CONFIG_LZ4_COMPRESS=y
CONFIG_LZ4_DECOMPRESS=y
