################################################################################
#         ____  ___________               __          __                       #
#        / __ \/ __/ __/ (_)___  ___     / /   ____ `/ /_                      #
#       / / / / /_/ /_/ / / __ \/ _ \   / /   / __ `/ __ \                     #
#      / /_/ / __/ __/ / / / / /  __/  / /___/ /_/ / /_/ /                     #
#      \____/_/ /_/ /_/_/_/ /_/\___/  /_____/\__,_/_.___/                      #
#                                                                              #
#      Copyright (C) 2025-2026 Offline Lab                                     #
#      Contact: info@offline-lab.com                                           #
#      SPDX-License-Identifier: AGPL-3.0-only                                  #
################################################################################

[Unit]
Description=Bind-mount confext image storage into systemd-confext discovery path
# /data is mounted by initramfs before switch_root — no need to wait for local-fs.target
Before=systemd-confext.service
ConditionPathIsDirectory=/data/extensions/confext

[Mount]
What=/data/extensions/confext
Where=/etc/extensions
Type=none
Options=bind

[Install]
WantedBy=sysinit.target
