[Unit]
Description=Dropbear SSH server
After=provision-ssh.service network.target
Requires=provision-ssh.service

[Service]
Type=simple
ExecStart=/usr/sbin/dropbear -F -E -s -g -p 22 -r /data/config/ssh/dropbear/dropbear_ed25519_host_key
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
